* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  background: #fd9a49;
  flex-direction: row;
  justify-content: right;
  padding: 2px;
}

#logo-container{
  place-items: initial;
}

img,
picture,
video {
  max-width: 100%;
}

div{
  display: flex;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  margin: 35px;
  padding: 0;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
 
 header a img{
  height: 100px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
 }

#s5{
  background-color: #5fa640;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
 
#s5:hover{
  transform: scale(1.1);
}

.imagen1{
  width: 200px;
  margin-left: 15px;
  width: 45vw;
  height: auto;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    max-width: 600px;
}

.contenedor p, .botones a{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  padding-left: 70px;
  padding-right: 70px;
}

.contenedor h1{
  font-family: "Chau Philomene One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 0;
}

.botones{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

#b1{
  background-color: #5fa640;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size:  1.3rem;
  font-weight: bold;
  display: block;
 
}
#b2{
  background-color: #fd9a49;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  display: block;
}

.contenedor2{
  width: 90%;
  max-width: 1500px;
  margin: 50px auto;
  background-color: #4f941f;
  border-radius: 18px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}
.contenedor2 p{
  color: white;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tarjeta{
    width: 500px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
}

.oculta{
    display: none;
}

